<html>
    <head>
        <%- include("header.ejs"); %>
    </head>
    <body>
        <%- include("menu.ejs"); %>
        <div class="container-fluid">
            <h1>Báo cáo</h1>
            <%- include("module/sales.ejs", {data: sales}) %>
        </div>
    </body>
</html>